# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
****

In [3]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
data = pd.io.stata.read_stata('us_job_market_discrimination.dta')
data.head(5)

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [5]:
# number of callbacks for black-sounding names
black_call = data[data.race=='b'].call
white_call = data[data.race=='w'].call

black_call_sum = sum(data[data.race=='b'].call)
white_call_sum = sum(data[data.race=='w'].call)
print(black_call)
print(white_call)
black_tot = sum(data[data.race=='b'].compreq)
white_tot = sum(data[data.race=='w'].compreq)

print(black_tot)
print(white_tot)

black_tot+white_tot

2       0.0
3       0.0
7       0.0
8       0.0
9       0.0
10      0.0
12      0.0
14      0.0
17      0.0
19      0.0
20      0.0
25      0.0
26      0.0
28      0.0
29      0.0
31      0.0
33      0.0
36      0.0
37      0.0
38      0.0
41      0.0
44      0.0
45      0.0
47      0.0
49      0.0
50      0.0
53      0.0
55      0.0
57      0.0
59      0.0
       ...
4808    0.0
4812    0.0
4815    0.0
4818    0.0
4820    0.0
4821    0.0
4823    0.0
4825    0.0
4827    0.0
4828    0.0
4832    0.0
4833    0.0
4835    0.0
4837    0.0
4840    0.0
4841    0.0
4842    0.0
4844    0.0
4848    1.0
4849    0.0
4850    0.0
4853    0.0
4856    0.0
4857    0.0
4858    0.0
4859    1.0
4864    0.0
4865    0.0
4866    0.0
4868    0.0
Name: call, Length: 2435, dtype: float32
0       0.0
1       0.0
4       0.0
5       0.0
6       0.0
11      0.0
13      0.0
15      0.0
16      0.0
18      0.0
21      0.0
22      0.0
23      0.0
24      0.0
27      0.0
30      0.0
32      0.0
34      0.0
35      0.0
39      0.0
40      0.0
42      0.0
43      0.0
46      0.0
48      0.0
51      0.0
52      0.0
54      0.0
56      0.0
58      0.0
       ...
4811    0.0
4813    0.0
4814    0.0
4816    0.0
4817    0.0
4819    0.0
4822    0.0
4824    0.0
4826    1.0
4829    1.0
4830    0.0
4831    0.0
4834    0.0
4836    0.0
4838    0.0
4839    0.0
4843    1.0
4845    0.0
4846    1.0
4847    1.0
4851    0.0
4852    0.0
4854    0.0
4855    0.0
4860    0.0
4861    1.0
4862    0.0
4863    0.0
4867    0.0
4869    0.0
Name: call, Length: 2435, dtype: float32
1065.0
1064.0

2129.0

In [6]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

1. What test is appropriate for this problem? Does CLT apply?

The z test applies because the data set is above 30 observations.

2. What are the null and alternate hypotheses?

The null test is a test to prove that the hypothesis is true, which is the null, whereas the alternate hypothesis is a test to prove that another theory is correct. That the null is not correct.

3. Compute margin of error, confidence interval, and p-value.

In [11]:
diff = np.sum(white_call) - np.sum(black_call)
print(diff)

bs_times = 10000

bs_diff = np.empty(bs_times)

for i in range(bs_times):
    bs_white = np.random.choice(white_call, len(white_call))
    bs_black = np.random.choice(black_call, len(black_call))
    
    bs_diff[i] = np.sum(bs_white) - np.sum(bs_black)

print(np.percentile(bs_diff, [2.5, 97.5]))

78.0
[  40.  115.]

In [14]:
permute = 100000

concat = np.concatenate((white_call,black_call))

perm_diff = np.empty(permute)
for i in range(permute):
    permutation = np.random.permutation(concat)
    permu_white = permutation[:len(white_call)]
    permu_black = permutation[len(white_call):]
    perm_diff[i] = np.sum(permu_white)-np.sum(permu_black)

print(np.sum(perm_diff>diff)/len(perm_diff))

0.0

4. Write a story describing the statistical significance in the context or the original problem.
Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

the original problem is whether race is a factor in whether an application is accepted or not. We've tested this by analysing the difference between call backs for black sounding and white sounding names. We do not discern the difference in actual race, and we have statistically computed that race does play a factor by computing the p value against an alternate hypothesis, which is 0.0.
I would amend my analysis by factoring in other variables, such as experience, occupation, education etc.